body {
  padding: 20px;
  font-size: 13px;
}
.exercise-list {
  min-width: 700px;
}
.exercise-details {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  overflow: scroll;
  max-width: 900px;
}
.exercise-details ul {
  padding-left: 0;
  list-style: none;
}
.examples {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
.examples ul {
  padding-left: 16px;
}
tr.selected {
  background: #ccc !important;
}

.set {
  background: #eee;
  margin-right: 6px;
  min-width: 30px;
  text-align: center;
  display: inline-block;
}
.set--weighted {
  background: #ccc;
  min-width: 55px;
}
.set--max-reps {
  background: #aaf;
}
.set--max-weight {
  background: #faa;
}

.table-wrapper {
  height: 1000px;
  overflow: scroll;
  display: inline-block;
}
.details-wrapper {
  display: inline-block;
  vertical-align: top;
}
.predefined-links {
  padding-left: 0;
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
.predefined-links li {
  display: inline-block;
  margin-right: 10px;
}
.predefined-links li a {
  display: block;
  padding: 5px 10px;
  background: #eee;
}

.date {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.sets {
  display: inline-block;
  vertical-align: top;
  max-width: 600px;
}
.has-notes {
  background: #ffc;
}

.quick-stats {
  margin: 0 0 20px 20px;
  background: #eef;
  border: 1px solid #ccc;
  padding: 10px;
}

.quick-stats__header {
  margin: 0 0 20px 0;
}
.quick-stats label {
  width: 150px;
}
.volume {
  display: inline-block;
  position: relative;
  height: 18px;
}
.volume-bg {
  height: 18px;
  background: #aaa;
  z-index: 1;
  display: inline-block;
}
.volume-num {
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  height: 18px;
  color: #222;
  text-shadow: 0 0 1px #fff;
}
